{% extends 'FulgurioUserBundle:Admin:layout.html.twig' %}
{% block content %}
		<h1>{% trans from 'admin' %}users_manager{% endtrans %}</h1>
{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="alert alert-success">{{ flashMessage|trans({}, 'admin') }}<br /></div>
{% endfor %}
{% if users is not empty or app.request.get('q') %}
		<form method="post" action="{{ path('fulgurio_user_usermanager_list') }}">
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group"><input type="text" class="form-control" name="q" value="{{ app.request.get('q') }}">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">{% trans from 'admin' %}search{% endtrans %}</button>
						</span>
					</div>
				</div>
{% else %}
			<div class="row">
{% endif %}
{#				<div class="col-lg-6">
					<a class="btn pull-right" href="{{ path('fulgurio_user_usermanager_add') }}">{% trans from 'admin' %}add_user{% endtrans %}</a>
				</div>
#}
			</div>
{% if users is empty %}
{%   if app.request.get('q') %}
			<div class="alert alert-success">{% trans with { '%QUERY%': app.request.get('q') } from 'admin' %}no_user_found{% endtrans %}</div>
{%   else %}
			<p>{% trans from 'admin' %}no_user{% endtrans %}</p>
{%   endif %}
{% else %}
			<table class="table table-striped table-hover">
				<thead>
					<tr>
{%   if isAvatarEnabled() %}
						<th></th>
{%   endif %}
						<th>{{ knp_pagination_sortable(users, 'form.username'|trans, 'u.username')|raw }}</th>
						<th>{{ knp_pagination_sortable(users, 'form.email'|trans, 'u.email')|raw }}</th>
						<th>{#Options#}</th>
					</tr>
				</thead>
				<tbody>
{%   for user in users %}
					<tr>
{%   if isAvatarEnabled() %}
						<td><img src="{{ avatar(user) }}" alt="{{ user.username }}"></td>
{%   endif %}
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td>
{%     if user.enabled %}
{%       if not user.isPasswordRequestNonExpired(changePasswordTTL) %}
							<a href="{{ path('fulgurio_user_usermanager_resetpassword', {userId: user.id}) }}" title="{% trans from 'admin' %}reset_password{% endtrans %}" data-target="#myModal"><span class="glyphicon glyphicon-refresh"></span></a>
{%       endif %}
							<a href="{{ path('fulgurio_user_usermanager_ban', {userId: user.id}) }}" title="{% trans from 'admin' %}ban.ban{% endtrans %}" data-target="#myModal"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
{%     else %}
							<a href="{{ path('fulgurio_user_usermanager_unban', {userId: user.id}) }}" title="{% trans from 'admin' %}unban.unban{% endtrans %}" data-target="#myModal"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
{%     endif %}
							<a href="{{ path('fulgurio_user_usermanager_remove', {userId: user.id}) }}" title="{% trans from 'admin' %}delete{% endtrans %}" data-target="#myModal"><span class="glyphicon glyphicon-remove-circle"></span></a>
						</td>
					</tr>
{%   endfor %}
				</tbody>
			</table>
{{ knp_pagination_render(users, 'FulgurioUserBundle:Admin:pagination.html.twig')|raw }}
		</form>
{% endif %}
{% endblock %}

{% block bottomContent %}
{% if users is not empty %}
{% include 'FulgurioUserBundle::popup.html.twig' %}
{% endif %}
{%endblock %}