{# Form to reset password, from email link #}
{% extends "FulgurioUserBundle::layout.html.twig" %}

{% block content %}
		<div class="starter-template">
			<h1>{% trans %}form.lost.password.lost.password{% endtrans %}</h1>
			<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="post" class="form-horizontal" role="form">
{% if form.plainPassword.first.vars.errors|length or form.vars.errors|length %}
				<div class="alert alert-danger">
					<p>{% trans %}form.error{% endtrans %} :</p>
					<ul>
{% for error in form.plainPassword.first.vars.errors %}<li>{{error.message}}</li>{% endfor %}
{% for error in form.vars.errors %}<li>{{error.message}}</li>{% endfor %}
					</ul>
				</div>
{% endif %}
				<div class="form-group">
					<label for="password" class="col-md-7 control-label">{% trans from 'FOSUserBundle' %}form.new_password{% endtrans %}</label>
					<div class="col-md-5">
						<input type="password" class="form-control" id="password" name="{{ form.plainPassword.first.vars.full_name }}" autocomplete="off" autofocus required>
					</div>
				</div>
				<div class="form-group">
					<label for="password2" class="col-md-7 control-label">{% trans from 'FOSUserBundle' %}form.new_password_confirmation{% endtrans %}</label>
					<div class="col-md-5">
						<input type="password" class="form-control" id="password2" name="{{ form.plainPassword.second.vars.full_name }}" autocomplete="off" required>
					</div>
				</div>
				<div class="form-group othersignin">
					<div class="col-sm-12 controls">
						<input type="hidden" name="{{form._token.vars.full_name}}" value="{{form._token.vars.value}}" />
						<button class="btn btn-success">{% trans from 'FOSUserBundle' %}resetting.reset.submit{% endtrans %}</button>
					</div>
				</div>
			</form>
		</div>
{% endblock content %}
