{# Template of registration form #}
{% extends "FulgurioUserBundle::layout_like_popup.html.twig" %}

{% block title %}{% trans %}form.register.sign.up{% endtrans %}{% endblock %}

{% block content %}
				<div class="panel panel-info panel-register">
					<div class="panel-heading">
						<div class="panel-title">{% trans %}form.register.sign.up{% endtrans %}</div>
						<div><a href="{{ path('fos_user_security_login') }}" data-target="#myModal">{% trans %}form.register.sign.in{% endtrans %}</a></div>
					</div>
					<div class="panel-body">
						<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal" role="form">
{% if form.email.vars.errors|length
	 or form.username.vars.errors|length
	 or (useOnePasswordFieldForRegistration() and form.plainPassword.vars.errors|length)
	 or (not useOnePasswordFieldForRegistration() and form.plainPassword.first.vars.errors|length)
	 or form.vars.errors|length %}
							<div class="alert alert-danger">
								<p>{% trans %}form.error{% endtrans %} :</p>
								<ul>
{% for error in form.email.vars.errors %}<li>{{error.message}}</li>{% endfor %}
{% for error in form.username.vars.errors %}<li>{{error.message}}</li>{% endfor %}
{% if useOnePasswordFieldForRegistration()%}
{% for error in form.plainPassword.vars.errors %}<li>{{error.message}}</li>{% endfor %}
{% else %}
{% for error in form.plainPassword.first.vars.errors %}<li>{{error.message}}</li>{% endfor %}
{% endif %}
{% for error in form.vars.errors %}<li>{{error.message}}</li>{% endfor %}
								</ul>
							</div>
{% endif %}
							<div class="form-group">
								<label for="email" class="col-md-3 control-label">{% trans from 'FOSUserBundle' %}form.email{% endtrans %}</label>
								<div class="col-md-9">
									<input type="email" class="form-control" id="email" name="{{form.email.vars.full_name}}" value="{{form.email.vars.value}}" placeholder="{% trans %}form.email{% endtrans %}" autocomplete="off" autofocus required>
								</div>
							</div>
							<div class="form-group">
								<label for="username" class="col-md-3 control-label">{% trans %}form.username{% endtrans %} :</label>
								<div class="col-md-9">
									<input type="text" class="form-control" id="username" name="{{form.username.vars.full_name}}" value="{{form.username.vars.value}}" placeholder="{% trans %}form.username{% endtrans %}" autocomplete="off" required>
								</div>
							</div>
{% if useOnePasswordFieldForRegistration() %}
							<div class="form-group">
								<label for="password" class="col-md-3 control-label">{% trans from 'FOSUserBundle' %}form.password{% endtrans %}</label>
								<div class="col-md-9">
									<input type="password" class="form-control" id="password" name="{{form.plainPassword.vars.full_name}}" placeholder="{% trans from 'FOSUserBundle' %}form.password{% endtrans %}" autocomplete="off" required>
								</div>
							</div>
{% else %}
							<div class="form-group">
								<label for="password" class="col-md-3 control-label">{% trans from 'FOSUserBundle' %}form.password{% endtrans %}</label>
								<div class="col-md-9">
									<input type="password" class="form-control" id="password" name="{{form.plainPassword.first.vars.full_name}}" placeholder="{% trans from 'FOSUserBundle' %}form.password{% endtrans %}" autocomplete="off" required>
								</div>
							</div>
							<div class="form-group">
								<label for="password2" class="col-md-3 control-label">{% trans from 'FOSUserBundle' %}form.password_confirmation{% endtrans %}</label>
								<div class="col-md-9">
									<input type="password" class="form-control" id="password2" name="{{form.plainPassword.second.vars.full_name}}" placeholder="{% trans from 'FOSUserBundle' %}form.password_confirmation{% endtrans %}" autocomplete="off" required>
								</div>
							</div>
{% endif %}
							<div class="form-group submit">
								<div class="col-md-offset-3 col-md-9">
									<input type="hidden" name="{{form._token.vars.full_name}}" value="{{form._token.vars.value}}" />
									<button type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp;{% trans from 'FOSUserBundle' %}registration.submit{% endtrans %}</button>
									<span>{% trans %}or{% endtrans %}</span>
								</div>
							</div>
							<div class="form-group othersignin">
								<div class="col-md-offset-3 col-md-9">
{% if isOAuthServiceEnabled('facebook') %}
									<a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-primary"><i class="icon-facebook"></i>{% trans %}form.signin.facebook{% endtrans %}</a>
{% endif %}
{% if isOAuthServiceEnabled('google') %}
									<a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" class="btn btn-primary">{% trans %}form.signin.google{% endtrans %}</a>
{% endif %}
{% if isOAuthServiceEnabled('linkedin') %}
									<a href="{{ path('hwi_oauth_service_redirect', {'service': 'linkedin' }) }}" class="btn btn-primary">{% trans %}form.signin.linkedin{% endtrans %}</a>
{% endif %}
								</div>
							</div>
						</form>
					</div>
				</div>
{% endblock %}
