{% extends "FulgurioUserBundle::layout.html.twig" %}

{% block content %}
		<div>
			<h1>{% trans %}profile.profile{% endtrans %}</h1>
{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="bg-info">{{ flashMessage }}</div>
{% endfor %}
{% if isAvatarEnabled() %}
			<div class="pull-left"><img src="{{ avatar(user) }}" alt="{{ user.username }}"/></div>
{% endif %}
			<p>{% trans from 'FOSUserBundle' %}profile.show.username{% endtrans %}: {{ user.username }}</p>
			<p>{% trans from 'FOSUserBundle' %}profile.show.email{% endtrans %}: {{ user.email }}</p>
			<div><a href="{{ path('fos_user_profile_edit') }}">{% trans %}profile.edit{% endtrans %}</a></div>
{% if not isProfileWithPasswordEdition() %}
			<div><a href="{{ path('fos_user_change_password') }}">{% trans %}change_password.change_password{% endtrans %}</a></div>
{% endif %}
			<div><a href="{{ path('fulgurio_user_default_unsubscribe') }}">{% trans %}profile.unsubscribe{% endtrans %}</a></div>
		</div>
{% endblock content %}
